.score{
    width: 258px;
    height: 263px;
    background-color: #FBFBFB;
    border-radius: 5px;
}

.score__header{
    padding: 24px 24px 0 24px;
}

.score__header h1{
    margin: 0;
}


.score__label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #FFF;
    bottom: 67%;
    left: 22%;
    width: 55%;
    height: 55%;
    border-radius: 50%;
}