main{
  display: flex;
  column-gap: 5px;

}

.user{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user__infos{
  margin-left: 100px;
}

.user__infos h1{
  margin-bottom: 20px;
  font-size: 48px;
}

.user__infos span{
  color: #FF0101;
}

.user__infos p {
  padding-bottom: 30px;
  font-size: 18px;
}

.user__charts{
  display: flex;
  margin-left: 100px;
}



.charts-container-flex{
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
